body {
    background: linear-gradient(90deg, rgba(190,189,194,1) 0%, rgba(32,138,233,1) 49%, rgba(190,189,194,1) 100%);
    color: black;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

